<script id="chart_instruments_ticker" type="text/html">
    <li class="dropdown ticker" data-ticker="{{ticker}}">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
            {{id}}: {{group}}
            <span class="caret"></span>
        </a>
        {{> chart_instruments_dropdown_menu}}
    </li>
</script>


<script id="chart_instruments_dropdown_menu" type="text/html">
    <ul class="dropdown-menu">
        <li>
            <a href="" data-action="on">
                <i class="icon-eye-open"></i>
                <%= t '.show' %>
            </a>
        </li>
        <li>
            <a href="" data-action="off">
                <i class="icon-eye-close"></i>
                <%= t '.hide' %>
            </a>
        </li>
        <li>
            <a href="" data-action="remove">
                <i class="icon-remove"></i>
                <%= t '.remove' %>
            </a>
        </li>
    </ul>
</script>
