<script id="chart_instruments_dropdown_menu" type="text/html">
    <ul class="dropdown-menu">
        <li>
            <a href="" data-action="on">
                <i class="icon-eye-open"></i>
                Показывать на графике
            </a>
        </li>
        <li>
            <a href="" data-action="off">
                <i class="icon-eye-close"></i>
                Не показывать на графике
            </a>
        </li>
        <li>
            <a href="" data-action="remove">
                <i class="icon-remove"></i>
                Удалить с графикa
            </a>
        </li>
    </ul>
</script>
