<script id="query_search_results" type="text/html">
    <ul class="groups">
        {{#groups}}
            {{> query_search_results_group}}
        {{/groups}}
        {{^groups}}
            <li class="empty">По вашему запросу ничего не найдено</li>
        {{/groups}}
    </ul>
</script>


<script id="query_search_results_group" type="text/html">
    <li class="group title">
        {{title}}
    </li>
    {{#records}}
        {{> query_search_results_record}}
    {{/records}}
</script>


<script id="query_search_results_record" class="partial" type="text/html">
    <li class="record" data-id="{{secid}}">
        <div>
            <span class="shortname">{{shortname}}</span>
        </div>
        <div>
            <span class="name">{{name}}</span>
        </div>
        <div>
            <span class="boards link">Все режимы</span>
            <span class="pipe">|</span>
            <span class="add link" data-board-id="{{primary_boardid}}"><em>+</em> Добавить в таблицу в основном режиме</span>
            <span class="remove link"><em>-</em> Удалить из таблицы в основном режиме</span>
        </div>
    </li>
</script>


<script id="query_search_results_boards" type="text/html">
    <ul class="boards clearfix">
        {{#boards}}
            <li class="board" data-id="{{boardid}}">
                <div>
                    <span class="id">{{boardid}}</span>
                    <span class="title">{{title}}</span>
                </div>
                <div>
                    <span class="add link"><em>+</em> Добавить в таблицу</span>
                    <span class="remove link"><em>-</em> Удалить из таблицы</span>
                </div>
            </li>
        {{/boards}}
    </ul>
</script>
