<script id="query_search_results" type="text/html">
    {{#groups}}
        {{> query_search_results_group}}
    {{/groups}}
    {{^groups}}
        <li class="empty">По вашему запросу ничего не найдено</li>
    {{/groups}}
</script>


<script id="query_search_results_group" type="text/html">
    <li class="group">
        {{title}}
    </li>
    {{#records}}
        {{> query_search_results_record}}
    {{/records}}
</script>


<script id="query_search_results_record" type="text/html">
    <li class="security primary" data-id="{{secid}}" data-primary-board-id="{{primary_boardid}}">
        <p class="shortname">{{shortname}}</p>
        <p class="fullname">{{name}}</p>
        
        <ul class="boards">
            {{> query_search_results_boards}}
        </ul>
        
        <p class="links">
            <a href="#" class="primary">Основной режим торгов</a>
            <a href="#" class="all">Все режимы торгов</a>
        </p>
    </li>
</script>


<script id="query_search_results_boards" type="text/html">
    {{#boards}}
        {{> query_search_results_board}}
    {{/boards}}
</script>


<script id="query_search_results_board" type="text/html">
    <li class="board" data-id="{{id}}">
        <p class="id">{{id}}</p>
        <p class="name">
            <a href="#">{{title}}</a>
        </p>
    </li>
</script>
