<script id="table_information_row" type="text/html">
    <div class="information_row_wrapper">
        <ul class="controls">
            <li class="link remove_ticker"><span>Удалить инструмент</span></li>
            <li class="link add_to_chart"><span>Добавить на график</span></li>
            <li class="link remove_from_chart"><span>Убрать с графика</span></li>
        </ul>
    </div>
</script>
