<script id="table" type="text/html">
    <div class="table_container" data-engine="{{engine.name}}" data-market="{{market.name}}">

        <h4 class="title">
            <div class="columns_filter_trigger">
                <span>Поля</span>
            </div>
            
            <a href="#" class="local market-history" data-market="{{engine.name}}:{{market.name}}">
                {{engine.title}} :: {{market.title}}
            </a>
            
            <div class="down-slider bottom-left hover market-history">
                <div class="down-slider-title">
                    Скачать историю по рынку
                </div>
                <div class="down-slider-content">
                    <div class="datepicker"></div>
                
                    <div class="buttons">
                        <div class="button-group">
                            <button class="button" data-type="csv">CSV</button>
                            <button class="button dropdown-toggle">
                                <span class="caret"></span>
                            </button>
                        </div>
                        <button class="button" data-type="xml">XML</button>
                    </div>
                </div>
            </div>

        </h4>
        
        <div class="columns_filter_wrapper" style="display: none;"></div>
        
        <table class="records">
            <thead>
                <tr class="columns">
                </tr>
                <tr class="columns_filter">
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</script>


<script id="table_column_cell" type="text/html">
    <td title="{{column.title}}" class="{{column.type}}" data-id="{{column.id}}" data-type="{{column.type}}">
        <span>{{column.short_title}}</span>
    </td>
</script>
