<script id="table_ticker_auxilliary_tabs" type="text/html">
    <div class="tabs">
    
        <ul class="clearfix">
            <li class="tab" data-key="security_description">
                <a href="#" class="local">Информация об инструменте</a>
            </li>
            <li class="tab" data-key="options_board">
                <a href="#" class="local">Доска опционов</a>
                <span class="expirations"></span>
            </li>
            <li class="action right remove_from_chart" data-key="remove_from_chart">
                <a href="#" class="local">Убрать с графика</a>
            </li>
            <li class="action right add_to_chart" data-key="add_to_chart">
                <a href="#" class="local">Добавить на график</a>
            </li>
            <li class="action right" data-key="remove_from_table">
                <a href="#" class="local">Удалить инструмент</a>
            </li>
        </ul>
    
        <div data-key="security_description" class="security_info">
            <div class="security description">
                <div class="block">
                    <div class="description_container">
                        description
                    </div>
                </div>
            </div>
        </div>
    
        <div data-key="options_board" class="security_options_board">
        </div>
    
    </div>
</script>
