<div id="header">
    <ul class="locales">
        <li class="ru">
            <%= link_to 'Русский', root_path(:locale => :ru) %>
        </li>
        <li class="en">
            <%= link_to 'English', root_path(:locale => :en) %>
        </li>
    </ul>
    
    <%= link_to :home, 'http://rts.beta.micex.ru', :class => :home %>
    
    <div id="auth">
    </div>
    
    <%= link_to t(:exchange), root_path(:locale => I18n.locale), :class => :logo, :title => t(:exchange) %>

    <span class="date">&mdash;</span>
    <span class="phone">(495) 363-32-32</span>

</div>

<script type="text/javascript" charset="utf-8">
    $(function() { setInterval(function() {$('#header .date').html(mx.I18n.to_datetime(new Date, { format: '%A, %d.%m.%Y %H:%M' }, 30 * 1000))}) })
</script>
