<section class="search">
    <form class="search_form">
    
      <header>Введите наименование инструмента или эмитента, например: <em>Сбербанк</em> или <em>GAZP</em></header>

      <div class="search_field_wrapper">
        <input class="search_field" type="search" placeholder="Поиск" autofocus />
      </div>

      <div class="filter_chooser">Все рынки</div>

      <input type="checkbox" id="search_mode" /><label for="search_mode">Искать только в основном режиме</label>
    </form>
    
    <ul class="filters_list">
      <li>
        <input id="sli_1" type="radio" name="section" value="all" checked="checked" />
        <label for="sli_1">Все рынки</label>
      </li>
      <li>
        <input id="sli_2" type="radio" name="section" value="indeces" />
        <label for="sli_2">Индексы</label>
      </li>
      <li>
        <input id="sli_3" type="radio" name="section" value="stock" />
        <label for="sli_3">Фондовый рынок</label>
      </li>
      <li>
        <input id="sli_4" type="radio" name="section" value="currency" />
        <label for="sli_4">Валютный рынок</label>
      </li>
      <li>
        <input id="sli_5" type="radio" name="section" value="futures" />
        <label for="sli_5">Срочный рынок</label>
      </li>
      <li>
        <input id="sli_6" type="radio" name="section" value="options" />
        <label for="sli_6">Опционы
      </label></li>
      <li>
        <input id="sli_7" type="radio" name="section" value="commodity" />
        <label for="sli_7">Товарные аукционы блабла блаблаблабла
      </label></li>
      <li>
        <input id="sli_8" type="radio" name="section" value="state" />
        <label for="sli_8">Госбумаги
      </label></li>
    </ul>

    <div class="search_results">
      <span class="prev disabled">вверх</span>
      <div class="list_container">

      <dl class="results_list">
        <dt class="first">
          Индексы
        </dt>

        <dd class="first">
          <ul>
            <li>
              ММВБ нефть и газ (MICEX O&G)
              <span class="description">Индекс фондового рынка ММВБ нефть и газ</span>
            </li>
            <li>
              Нефти и Газа (RTSog)
              <span class="description">Индекс РТС Нефти и Газа</span>
            </li>
          </ul>
        </dd>

        <dt>
          Акции
        </dt>
        <dd>
          <ul>
            <li>
              ГАЗПРОМ ао (GAZP)
              <span class="description">Акция обыкновенная "Газпром" (ОАО) ао</span>
            </li>
            <li>
              Газпрнефть (SIBN)
              <span class="description">Корпоративная облигация Газпром капитал ООО сер.ОЗ</span>
            </li>
            <li>
              ГПНХСал ао SNOS
              <span class="description">Акция обыкновенная Газпром нефтехим Салават ОАО</span>
            </li>
          </ul>
        </dd>

        <dt>
          Облигации
        </dt>
        <dd>
          <ul>
            <li>
              ГазпромК03 (RU000A0JRVT5)
              <span class="description">Корпоративная облигация Газпром капитал ООО сер. 03</span>
            </li>
          </ul>
        </dd>

        <dt class="last">
          Опционы
        </dt>
        <dd class="last">
          <ul>
            <li>
              GAZR-3.12M140212PA 12500 (GZ12500BN2)
              <span class="description">Опцион Февральский Марж.Амер.Put.12500 Фьюч.контр GAZR-3.12</span>
            </li>
            <li>
              GAZR-3.12M140212CA 14500 (GZ12500BB2)
              <span class="description">Опцион Февральский Марж.Амер.Call.14500 Фьюч.контр GAZR-3.12</span>
            </li>
          </ul>
        </dd>
      </dl>


      </div>
      <span class="next enabled">вниз</span>
    </div>

    <ul class="search_results_description">
        <li>Основной режим, акции и паи</li>
        <li>Неполные лоты</li>
        <li>Standart, дневная сессия</li>
        <li>Standart, вечерняя сессия</li>
        <li>РЕПО, акции и паи</li>
        <li>Standart, сделки РЕПО, вечерняя сессия</li>
        <li>РПС, акции и паи внесписочные</li>
        <li>Standart, адресные сделки, вечерняя сессия</li>
        <li>ЦК, режим основных торгов</li>
        <li>ЦК, РЕПО</li>
        <li>ЦК, РПС</li>
        <li>Аукционы DarkPools (крупные пакеты)</li>
        <li>Classica, рыночные сделки</li>
        <li>Classica, адресные ссылки</li>
    </ul>

</section>

<script type="text/javascript">

  $(document).ready(function() {

    _.mixin(_.string.exports());

    // search criteria list behavior
    (function () {

      var criteria_list, chooser, position;

      criteria_list = $(".filters_list");
      chooser       = $(".filter_chooser");

      // positioning search criteria list and hide
      position     = chooser.offset();
      position.top = position.top + chooser.outerHeight();
      criteria_list.offset(position);
      criteria_list.hide();


      // hide block with search criteria
      $(".filters_list").hide();

      // click on chooser
      $(".filter_chooser").click(function() {

        if(chooser.hasClass("active")) {
          chooser.removeClass("active");
          criteria_list.slideUp();
        } else {
          chooser.addClass("active");
          criteria_list.slideDown();
        }

      });

      // click event on criteria
      $(".filters_list label, .filters_list input").click(function() {

        var list_label;

        list_label = $(this).parent("li").find("label");

        chooser.removeClass("active");
        criteria_list.slideUp();
        chooser.html(list_label.html());

      });

    })();




    // search input field behavior
    (function () {

      var search_form, search_field, search_results, results_desc, search_string, position;

      search_field   = $("input.search_field");
      search_results = $(".search_results");
      results_desc   = $(".search_results_description");
      search_form    = $(".search_form");
      search_string  = "";

      // postitioning search results box under search field and hide
      position     = search_field.offset();
      position.top = position.top + search_field.outerHeight();
      search_results.offset(position);
      search_results.hide();

      // search field simulating ajax search process
      search_field.on('keyup click', function() {

        if(search_field.attr("value") !== search_string) {

          search_string = search_field.attr("value");

          if( search_string.length > 2) {
            search_field.addClass("loading");
            setTimeout(function() {
               search_field.removeClass("loading");
            }, 1500);
            if( !search_results.is(":visible") ) {
              setTimeout(function() {
                search_results.slideDown();
              }, 1500);
            }
          } else {
            search_results.slideUp();
            if( results_desc.is(":visible") ) results_desc.fadeOut(100);
          }
        }

      });

      // form submit stop event
      search_form.on("submit", function(e) {
        e.preventDefault();
      });

    })();




    // search results list behavior
    (function() {

      var results_container, results_list, list_items, results_desc, desc_items;

      results_container = $(".search_results");
      list_items        = $(".results_list li");
      results_desc      = $(".search_results_description");
      desc_items        = $(".search_results_description li");

      // hide search details container
      results_desc.hide();

      function showDescription() {

        var position;

        // positioning description container

        results_desc.show();
        position      = results_container.offset();
        position.top  = position.top  + results_container.outerHeight() / 2 - results_desc.outerHeight() / 2;
        position.left = position.left + results_container.outerWidth();
        results_desc.offset(position);
        results_desc.hide();

        // show description container
        results_desc.fadeIn();

      }

      // click on list item
      list_items.on("click", function() {
        var item;

        item = $(this);

        list_items.removeClass("loading");
        item.addClass("loading");
        if(results_desc.is(":visible")) results_desc.fadeOut(100);

        setTimeout(function() {
          list_items.removeClass("selected");
          item.removeClass("loading");
          item.addClass("selected");

          showDescription();

        }, 500);

      });

      // click on description list item
      desc_items.on("click", function() {
        results_desc.fadeOut(100);
        results_container.slideUp();
      });

    })();




    // ugly scroller behavior
    (function () {

      var search_results, items, container, content,
          scrollup_btn, scrolldown_btn, scroll_limit,
          scroll_position, scroll_step, animation_interval, offset;

      search_results = $(".search_results");
      container      = $(".list_container");
      content        = $(".results_list");
      items          = $(".results_list li");

      scrollup_btn   = $(".search_results .next");
      scrolldown_btn = $(".search_results .prev");

      scroll_step        = 30;
      scroll_position    = 0;
      animation_interval = 200;

      // get dimensions to determine scroll size and scroll step
      search_results.show();
      scroll_limit    = content.outerHeight() - container.height();
      offset          = parseInt(content.css("margin-top"));
      // // determine height of the biggest li in list - thats gona be scroll step
      // scroll_step     = $(_.max(items, function(item) { return $(item).outerHeight(); })).outerHeight();
      search_results.hide();


      // click to scroll up
      $(".search_results .next, .search_results .prev").mousedown(function() {

        var el = $(this);

        if(el.hasClass("next")) {
          scroll_position = scroll_position + scroll_step;
          if( scroll_position > scroll_limit ) scroll_position = scroll_limit;
        } else if(el.hasClass("prev")) {
          scroll_position = scroll_position - scroll_step;
          if( scroll_position < 0) scroll_position = 0;
        }

        switch(true) {

          case (0 < scroll_position) && (scroll_position < scroll_limit):
          scrollup_btn.removeClass("disabled");
          scrolldown_btn.removeClass("disabled");
          break;

          case scroll_position == 0:
          scrolldown_btn.addClass("disabled");
          break;

          case scroll_position == scroll_limit:
          scrollup_btn.addClass("disabled");
          break;

        }

        content.animate({
          "margin-top": (offset - scroll_position + "px")
        }, animation_interval);

      });

    })();

    //other
    (function() {

      var search_results, results_desc, criteria_list, chooser;

      search_results = $(".search_results");
      chooser        = $(".filter_chooser");
      criteria_list  = $(".filters_list");
      results_desc   = $(".search_results_description");

      //click outside search widget
      $(document).on("click", function(e) {

        if( !$(e.target).parents(".search").length ) {
          if( search_results.is(":visible")) search_results.slideUp();
          if( results_desc.is(":visible"))   results_desc.fadeOut(100);
          if( criteria_list.is(":visible")) {
            criteria_list.slideUp();
            chooser.removeClass("active");
          }
        }

      });
    }());

  });

</script>