<table class='mx_table'>
  <thead>
    <tr>
      <th class='string'>Код Индекса</th>
      <th class='string sortable'><a href='#'>Наименование</a></th>
      <th class='number sortable asc'><a href='#'>Текущее значение</a></th>
      <th class='number sortable desc'><a href='#'>К открытию, %</a></th>
      <th class='number'>Объем за день</th>
      <th class='time'>Время</th>
      <th class='control'></th>
    </tr>
  </thead>
  <tbody>
    <tr class='odd'>
      <td class='string'><a href='#'>MICEXTLC</a></td>
      <td class='string'>ММВБ Телекоммуникации</td>
      <td class='number trend_self_up'>2162.92</td>
      <td class='number trend_up'>+1.07%</td>
      <td class='number'>1 139 543 760</td>
      <td class='time'>17:03:03</td>
      <td class='control'><a href='#' class='chart_add'></a></td>
    </tr>
    <tr class='even'>
      <td class='string'><a href='#'>MICEXINDEXCF</a></td>
      <td class='string'>Индекс ММВБ</td>
      <td class='number trend_self_down'>1477.85</td>
      <td class='number trend_down'>-0.85%</td>
      <td class='number'>34 820 706 335</td>
      <td class='time'>17:04:10</td>
      <td class='control'><a href="#" class='chart_delete'></a></td>
    </tr>
  </tbody>
</table>