
<div id="quote_search">
    <table>
        <tbody>
            <tr>
                <td class="query">
                    <input type="text" name="query" value="" />
                </td>
                <td class="busy" style="display: none;">
                    <span></span>
                </td>
                <td class="clear" style="display: none;">
                    <span></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<div id="chart">
    
    <div id="chart_tabs_container">
        
        <ul id="chart_periods" class="left">
            <!--li data-period="day">День</li>
            <li data-period="week">Неделя</li>
            <li data-period="month">Месяц</li>
            <li data-period="year">Год</li>
            <li data-period="all">Весь период</li-->
        </ul>
        
        <ul id="chart_types" class="right">
            <li data-type="candles">Свечи</li>
            <li data-type="stockbar">Бары</li>
            <li data-type="line">Линия</li>
        </ul>
        
    </div>
    
    <div id="chart_container" style="background-color: #eee;">
    </div>
    
    <div id="chart_instruments_container">
        
        <ul id="chart_instruments">
        </ul>
        
        <span class="reset">Очистить</span>
        
    </div>
    
</div>



<div id="tables">
</div>


<script type="text/javascript" charset="utf-8">

    $(function() {
    mx.data.ready.then(function(metadata) {
            _.each(metadata.markets, function(market) { mx.data.table($("#tables"), market); });

            $(window).trigger("security:selected", { engine: 'stock', market: 'shares', board: 'EQBR', param: 'AFLT' });
            $(window).trigger("security:selected", { engine: 'stock', market: 'shares', board: 'EQNE', param: 'GAZP' });
            
            var chart = mx.data.chart($('#chart'));
            chart.addInstrument({
                title:  'Аэрофлот',
                engine: 'stock',
                market: 'shares',
                board:  'EQBR',
                id:     'AFLT'
            })
            
            chart.addInstrument({
                title:  'Газпром',
                engine: 'stock',
                market: 'shares',
                board:  'EQNE',
                id:     'GAZP'
            })

            $(window).on('security:to:chart', function(event, data) {
                chart.addInstrument(data);
            });
        });

        mx.data.quote_search("#quote_search");
        
        
    });

</script>
