<%= render 'table' %>

<div id="test">
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
    
    mx.data.marketdata_table("#test", {
        engine: 'stock',
        market: 'shares'
    });
    
});
</script>
