<%= render "quote_search" %>

<div id="test">
</div>

<script type="text/javascript" charset="utf-8">
    
    $(function() {
        
        mx.data.quote_search($("#quote_search"));
        
    });
    
</script>