<style type="text/css" media="screen">
    
.security-list {
    border: 1px solid #ccc;
    max-height: 500px;
    width: 500px;
    overflow-y: scroll;
}

.security-list dt {
    clear: left;
    float: left;
    width: 25%;
}
    

.security-list dd:hover {
    background: #eee;
}

</style>

<div id="test">
    <input type="text" id="quote_search" name="q" size="75" placeholder="Поиск котировки..." />
</div>

<script type="text/javascript" charset="utf-8">
    
    $(function() {
        mx.data.quote_search($("#quote_search"))
    });
    
</script>
