
<div id="quote_search">
    <table>
        <tbody>
            <tr>
                <td class="query">
                    <input type="text" name="query" value="" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" charset="utf-8">

    $(function() {
        
        mx.data.quote_search("#quote_search")
        
    });

</script>
