
<div id="quote_search">
    <table>
        <tbody>
            <tr>
                <td class="query">
                    <input type="text" name="query" value="" autocomplete="off" />
                </td>
                <td class="busy" style="display: none;">
                    <span></span>
                </td>
                <td class="clear" style="display: none;">
                    <span></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<div id="chart">
    
    <div id="chart_tabs_container">
        
        <ul id="chart_periods" class="left">
        </ul>
        
        <ul id="chart_types" class="right">
            <li data-type="candles">Свечи</li>
            <li data-type="stockbar">Бары</li>
            <li data-type="line">Линия</li>
        </ul>
        
    </div>
    
    <div id="chart_container" style="background-color: #eee;">
    </div>
    
    <div id="chart_instruments_container">
        
        <ul id="chart_instruments">
        </ul>
        
        <span class="reset">Очистить</span>
        
    </div>
    
</div>



<div id="tables">
</div>


<script type="text/javascript" charset="utf-8">

    $(function() {
    mx.data.ready.then(function(metadata) {
            _.each(metadata.markets, function(market) { mx.data.table($("#tables"), market); });
            var chart = mx.data.chart($('#chart'));

            $(window).on('security:to:chart', function(event, data) { chart.addInstrument(data); });

            function find_engine(engine_id) {
                return _.find(metadata.engines, function(engine) {
                    return engine.id == engine_id;
                });
            }

            function find_market(market_id) {
                return _.find(metadata.markets, function(market) {
                    return market.market_id == market_id;
                });
            }

            function find_board(boardid) {
                return _.find(metadata.boards, function(board) {
                    return board.boardid == boardid;
                });
            }

            mx.iss.bootstrap().then(function(data) {
                var instruments         = _.union(data.indices, data.currencies),
                    boards              = {},
                    securities          = [],
                    chart_securities    = [];
                
                _.each(instruments, function(security) {
                    var board = boards[security.BOARDID] || (boards[security.BOARDID] = (function() {
                        var b = find_board(security.BOARDID);
                            m = find_market(b.market_id),
                            e = find_engine(b.engine_id);
                        return { board: b.boardid, market: m.market_name, engine: e.name };
                    })());
                    
                    securities.push($.extend({}, board, { param: security.SECID }));
                });
                    

                _.each(securities, function(security) {
                    $(window).trigger("security:selected", { engine: security.engine, market: security.market, board: security.board, param: security.param, no_cache: true });
                });
                
                _.each([_.first(data.indices), _.first(data.currencies)], function(security) {
                    var board = boards[security.BOARDID]
                    $(window).trigger("security:to:chart", { engine: board.engine, market: board.market, board: board.board, id: security.SECID, title: security.SHORTNAME, no_cache: true });
                });
                    
            });

        });

        mx.data.quote_search("#quote_search");
        
        
    });

</script>
