<%= render "shared/icanhaz/quote_search" %>
<%= render "shared/icanhaz/table" %>

<div id="quote_search">
    <table>
        <tbody>
            <tr>
                <td class="query">
                    <input type="text" name="query" value="" autocomplete="off" />
                </td>
                <td class="busy" style="display: none;">
                    <span></span>
                </td>
                <td class="clear" style="display: none;">
                    <span></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<div id="chart">
    
    <div id="chart_instruments_container" class="instruments_wrapper">
    </div>

    <div id="technicals" class="technicals_wrapper">
    </div>

    <div id="chart_tabs_container">
        
        <div class="left chart_candle_widths_wrapper">
        </div>
        
        <div class="right chart_types_wrapper">
        </div>
        
    </div>
    
    <div id="chart_container" class="chart_wrapper" style="background-color: #eee;">
    </div>
    

</div>



<div id="filters">
</div>


<div id="tables">
</div>

<script type="text/javascript" charset="utf-8">

    $(function() {

        var metadata = mx.data.metadata();
        
        metadata.then(function() {
            
            var tables = _.map(metadata.markets(), function(market) { return mx.data.table($('#tables'), market.engine, market); });
            
            mx.data.chart($('#chart'));
            
            mx.data.bootstrap(tables);
            
            mx.data.quote_search("#quote_search");
            
            
        })

    });

</script>
