<div id="test">
    
    <span id="date" class="date_chooser_target">date goes here</span>
    
</div>

<script type="text/javascript" charset="utf-8">
    
    $(function() {
        
        mx.data.date_chooser($('#date'), 'stock', 'shares', {
        });
        
    });
    
</script>
