<div id="test">
    
</div>

<div>
    <ul class="dropdown-menu">
        <li>
            <a href="#">First</a>
        </li>
        <li>
            <a href="#">Second</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">Third</a>
        </li>
        <li class="disabled">
            <a href="#">Fourth</a>
        </li>
        <li class="dropdown-submenu">
            <a href="#">More options</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">First</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">Second</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script type="text/javascript" charset="utf-8">
    
$(function() {
    
    var c = mx.chart.instruments_widget({
        ticker:     'EQNE:GAZP',
        container:  $('#test'),
        no_cache:   true
    })
    
    c.then(function() { c.add_ticker('EQBR:AFLT') ; c.add_ticker('SMAL:GAZP') ; c.add_ticker('EQBR:SBER') ; c.add_ticker('SNDX:MICEXINDEXCF') })
    
    
});
    
</script>
