

<div id="test" style="padding: 1em 10px; margin: 1em 10px; background: #f9f9f9;">
    <div class="chart">
        <ul class="tickers">
            <li>tickers</li>
        </ul>
    </div>
</div>


<script type="text/javascript" charset="utf-8">
    $(function() {

        var chart = mx.chart.widget({
            container: '#test'
        })
    
    })
</script>

