<div id="tabs" class="tabs">
    
    <ul class="clearfix">
        <li class="tab" data-key="security_description">
            <a href="#" class="local">Информация об инструменте</a>
        </li>
        <li class="tab" data-key="options_board">
            <a href="#" class="local">Доска опционов</a>
            <span class="expirations">&mdash;</span>
        </li>
        <li class="button right" data-key="remove_from_chart">
            <a href="#" class="local">Убрать с графика</a>
        </li>
        <li class="button right" data-key="add_to_chart">
            <a href="#" class="local">Добавить на график</a>
        </li>
        <li class="button right" data-key="remove_from_table">
            <a href="#" class="local">Удалить инструмент</a>
        </li>
    </ul>
    
    <div data-key="security_description" style="display: none;">
        <strong>Description</strong>
        <br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    
    <div data-key="options_board" style="display: none;">
        <strong>Options Board</strong>
        <br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    
</div>

<!--
<div class="security_options_board" style="border: 1px solid #ccc; margin: 10px; padding: 10px;">
    
    <table>
        
        <thead>
            <tr>
                <th colspan="8">
                    CALL
                </th>
                <th colspan="2">
                </th>
                <th colspan="8">
                    PUT
                </th>
            </tr>
            
            <tr>
                <td rowspan="2">
                    Сделок
                </td>
                <td rowspan="2">
                    Открыт. позиций
                </td>
                <td colspan="3" class="last">
                    Последняя сделка
                </td>
                <td rowspan="2">
                    Покупка
                </td>
                <td rowspan="2">
                    Продажа
                </td>
                <td rowspan="2">
                    Теоретическая цена
                </td>
                <td rowspan="2">
                    Страйк
                </td>
                <td rowspan="2">
                    IV
                </td>
                <td rowspan="2">
                    Теоретическая цена
                </td>
                <td rowspan="2">
                    Покупка
                </td>
                <td rowspan="2">
                    Продажа
                </td>
                <td colspan="3" class="last">
                    Последняя сделка
                </td>
                <td rowspan="2">
                    Сделок
                </td>
                <td rowspan="2">
                    Открыт. позиций
                </td>
            </tr>
            <tr>
                <td>
                    Значение
                </td>
                <td>
                    Время сделки
                </td>
                <td>
                    Изменение к закрытию
                </td>
                <td>
                    Значение
                </td>
                <td>
                    Время сделки
                </td>
                <td>
                    Изменение к закрытию
                </td>
            </tr>
        </thead>
        
        <tbody>
        </tbody>
        
        <tfoot>
           <tr>
               <td>&mdash;</td>
               <td>&mdash;</td>
               <th colspan="14">
                   Итого
               </th>
               <td>&mdash;</td>
               <td>&mdash;</td>
           </tr>         
        </tfoot>
        
    </table>
    
</div>

<div class="security_info" style="border: 1px solid #ccc; margin: 10px; padding: 10px;">
    
    <div class="security description">
        <div class="block">
            <dl class="description_container">
                description
            </dl>
        </div>
        <div class="block">
            <div class="emitter_container">
                emitter
            </div>
            <div class="boards_container">
                boards
            </div>
            <div class="emitter_securities_container">
                others
            </div>
        </div>
        <div class="block">
            <div class="orderbook_container">
                orderbook
            </div>
        </div>
    </div>
    
</div>

-->

<script type="text/javascript" charset="utf-8">

    $(function() {


        shared.tabs($('#tabs'))
        
        //mx.data.optionsboard($('.security_options_board'), 'RFUD:GZH3', {
        //    expirations_container: $('#expirations_chooser')
        //})

        // mx.data.security_info($('.security_info'), 'EQNE:GAZP')
        // mx.data.security_info($('.security_info'), 'SNDX:MICEXINDEXCF')
        
    });

</script>
