<table class="tickers" width="100%" style="margin-top: 10em;">


    <caption style="text-align: left; padding: 1em 10px;">

        <a href="#" class="local" data-market="stock:shares">Stock :: Shares</a>

        <div class="down-slider bottom-left hover">
            <div class="down-slider-title">
                Скачать историю по рынку
            </div>
            <div class="down-slider-content">
                <div class="datepicker"></div>
                
                <div class="buttons">
                    <div class="button-group">
                        <button class="button">CSV</button>
                        <button class="button dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                    </div>
                    <button class="button">XML</button>
                </div>
            </div>
        </div>

    </caption>


    <thead>
    </thead>


    <tbody>
    </tbody>
    

    <tfoot>
    </tfoot>


</table>

askjdalksdj