<%= render "shared/icanhaz/chart_instruments" %>

<div id="test">
</div>
<script type="text/javascript" charset="utf-8">
    
$(function() {
    
    window.c = mx.chart.instruments_widget({
        ticker:     'EQNE:GAZP',
        container:  $('#test'),
        no_cache:   true
    })
    
    c.then(function() { c.add_ticker('EQBR:AFLT') ; c.add_ticker('SMAL:GAZP') ; c.add_ticker('EQBR:SBER') ; c.add_ticker('SNDX:MICEXINDEXCF') ; c.add_ticker('SNDX:MICEXO&G') })
    
    
});
    
</script>
