<div class="security_info" style="border: 1px solid #ccc; margin: 10px; padding: 10px;">
    
    <div class="security description">
        <div class="block">
            <dl class="description_container">
                description
            </dl>
        </div>
        <div class="block">
            <div class="emitter_container">
                emitter
            </div>
            <div class="boards_container">
                boards
            </div>
            <div class="emitter_securities_container">
                others
            </div>
        </div>
        <div class="block">
            <div class="orderbook_container">
                orderbook
            </div>
        </div>
    </div>
    
</div>

<script type="text/javascript" charset="utf-8">

    $(function() {
        
        mx.data.security_info($('.security_info'), 'EQNE:GAZP')
        // mx.data.security_info($('.security_info'), 'SNDX:MICEXINDEXCF')
        
    });

</script>
