<div id="test">
    
</div>


<script type="text/javascript" charset="utf-8">
    $(function() {
        
        mx.chart.widget({
            container:  $('#test'),
            tickers:    ['EQNE:GAZP', 'SMAL:GAZP'],
            cache:      false
        })
        
    })
</script>

