<table class="tickers" width="100%">

    <caption style="text-align: left;">
        <a href="#" class="local" data-market="stock:shares" style="cursor: pointer;">Stock :: Shares</a>
    </caption>

    <thead>
    </thead>

    <tbody>
    </tbody>
    
    <tfoot>
    </tfoot>

</table>
