<div id="test" style="position: relative; padding: 1em 9px;">
    <div class="tickers-table">
        <table>
            <caption>
                caption
                
                <button class="button"><i class="icon-wrench"></i></button>
            </caption>
            <thead>
                <tr>
                    <th>thead</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>tbody</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="tickers-table">
        <table>
            <caption>
                caption
                
                <button class="button"><i class="icon-wrench"></i></button>
            </caption>
            <thead>
                <tr>
                    <th>thead</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>tbody</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="tickers-table">
        <table>
            <caption>
                caption
                
                <button class="button"><i class="icon-wrench"></i></button>
            </caption>
            <thead>
                <tr>
                    <th>thead</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>tbody</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    
$(function() {
    

    var stack = [];
    
    $('#test .tickers-table').on('mousedown', function() {
        var $this = $(this);
        var i = stack.indexOf($this);

        if (i > 0)
            stack.splice(i, 1)

        stack.push($this);
        $.each(stack, function(z, item) { item.css('z-index', z + 1000) })
    });
    
    $('#test .tickers-table').width($('#test .tickers-table').width());

    $('#test .tickers-table').resizable().draggable({ handle: 'caption' })
    
    
});
    
</script>
