<%= render 'shared/icanhaz/chart' %>

<div id="test" style="padding: 1em 10px;">
</div>



<script type="text/javascript" charset="utf-8">
    
$(function() {
    
    mx.chart.proxy({
        tickers:    'EQNE:GAZP',
        container:  $('#test')
    })
    
});
    
</script>
