<%= render 'shared/icanhaz/chart_instruments' %>

<div id="test">
    
</div>



<script type="text/javascript" charset="utf-8">
    
$(function() {
    
    mx.chart.proxy({
        tickers:    ['EQNE:GAZP'],
        container:  $('#test')
    })
    
});
    
</script>
