#header a.home {
    
    background: image-url('icons/home.svg') no-repeat left top;
    background-size: 16px;
    
    display: block;
    float: right;
    margin-right: 2em;
    
    height: 16px;
    width: 0;
    overflow: hidden;
    padding-left: 16px;
}

#header ul.locales {

    float: right;
    list-style: none;
    margin: 0 0 .75em;
    padding: 0;

    li a {
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 20px;
    }

    li.ru a {
        background-image: image-url('icons/ru.png');
    }

    li.en  a {
        background-image: image-url('icons/gb.png');
    }

}

body[lang=en] #header ul.locales li.en {
    display: none;
}

body[lang=ru] #header ul.locales li.ru {
    display: none;
}


#header .date {
    color: #666;
    font-size: .8em;
    margin-top: -.4em;
    margin-left: 250px;
    position: absolute;
    top: 50%;
    text-transform: capitalize;
}

#header .phone {
    color: #666;
    font-size: 1.2em;
    margin-top: -.6em;
    margin-left: 500px;
    position: absolute;
    top: 50%;
}