#quote_search {
    
    border: 1px solid #ccc;
    border-radius: 1px;

    width: 500px;

    table {

        border-collapse: collapse;
        border-spacing: 0;
        
        width: 100%;
        
        td {
            padding: 2px 0;
        }
        
        td.query {
            
            padding-right: 4px;
            padding-left: 4px;
            width: 100%;
            
            input {
                border: none;
                font-size: 15px;
                line-height: 1em;
                outline: none;
                padding: 2px 0;
                width: 100%;
            }
        }
        
        td.tag {
            
            padding-left: 4px;
            
            white-space: nowrap;
            
            div {
                background-color: #3ae;
                color: #000;
                font-size: 12px;
                padding: 4px;
                
                a {
                    margin-left: 4px;
                }
            }
            
        }
        
    }
    
}

#quote_search.active {
    border-color: #69c;
}
    
a img {
    border: none;
}

.quote_search_securities_container {
    border: 1px solid #ccc;
    border-radius: 1px;

    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    
    width: 500px;
    
    margin-top: 2px;
    
    
    table {
        
        border-collapse: collapse;
        border-spacing: 0;
        
        th,
        td {
            margin: 0;
            padding: 0;
            text-align: left;
            vertical-align: top;
        }
        
        th {
            color: #999;
            font-size: 75%;
            font-weight: normal;
            padding: .5em 5px;
            white-space: nowrap;
        }
        
        td {
            padding: .25em 5px;
            width: 100%;
            
            span.name {
                color: #666;
                display: block;
                font-size: 75%;
            }
        }
        
        td:hover {
            background-color: #eee;
        }
        
        tr.divider td {
            
            hr {
                background: none;
                border: none;
                border-top: 1px solid #eee;
                margin: 0;
                padding: 0;
            }
            
        }
        
    }
    
    
}

.quote_search_boards_container {
    border: 1px solid #ccc;
    border-radius: 1px;

    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    
    width: 500px;
    
    margin-top: 2px;
    
    table {
        
        border-collapse: collapse;
        border-spacing: 0;
        
        th,
        td {
            margin: 0;
            padding: 0;
            text-align: left;
            vertical-align: top;
        }
        
        th {
            color: #999;
            font-size: 75%;
            font-weight: normal;
            padding: .5em 5px;
            white-space: nowrap;
        }
        
        td {
            padding: .25em 5px;
            width: 100%;
            
            span.name {
                color: #666;
                display: block;
                font-size: 75%;
            }
        }

        tr:hover th,
        tr:hover td {
            background-color: #eee;
        }
    }
 
}