#quote_search {
    
    border: 1px solid #ccc;
    border-radius: 1px;

    margin: 20px auto 40px;

    width: 1200px;

    table {

        border-collapse: collapse;
        border-spacing: 0;
        
        width: 100%;
        
        td {
            padding: 2px 0;
        }
        
        td.query {
            
            padding-right: 4px;
            padding-left: 4px;
            width: 100%;
            
            input {
                border: none;
                font-size: 15px;
                line-height: 1em;
                outline: none;
                padding: 2px 0;
                width: 100%;
            }
        }
        
        td.tag {
            
            padding-left: 4px;
            
            white-space: nowrap;
            
            div {
                background-color: #39c;
                color: #ef0;
                font-size: 12px;
                line-height: 24px;
                padding: 0 6px;
                position: relative;
                height: 24px;
            }
            
        }
        
        td.busy {
            
            padding: 0 4px 0 0;

            span {
                background: #ccc;
                display: block;
                width: 20px;
                height: 20px;
            }
        }
        
        td.clear {
            
            padding: 0 4px 0 0;

            span {
                background: #fcc;
                cursor: pointer;
                display: block;
                width: 20px;
                height: 20px;
            }
        }
        
    }
    
}

#quote_search:hover {
    border-color: #aaa;
}

#quote_search.active {
    border-color: #69c;
}
    
a img {
    border: none;
}

.quote_search_securities_container {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 50px auto;
    max-height: 450px;
    overflow-y: scroll;
    position: absolute;
    width: 1200px;
    z-index: 1000;
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0 0 -1px;
        padding: 0;
        width: 100%;
        
        th, td {
            border-bottom: 1px solid #ccc;
            font-weight: normal;
            vertical-align: top;
            padding: 0;
            text-align: left;
        }
        
        tr:last-child th,
        tr:last-child td {
            border-bottom: none;
        }
        
        th {
            color: #999;
            font-size: 75%;
            padding: 7px 10px;
        }
        
        td {
            width: 100%;
        }
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                margin: 0;
                overflow: hidden;
                padding: 7px 10px;
                position: relative;

                span.title {
                    color: #666;
                    display: block;
                    font-size: 75%;
                }

            }

            li.selected {
                background-color: #eee;
            }
        }
        
    }
    
}


.quote_search_boards_container {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 50px auto;
    max-height: 450px;
    overflow-y: scroll;
    position: absolute;
    width: 1200px;
    z-index: 1000;


    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        
        th, td {
            cursor: pointer;
            font-weight: normal;
            vertical-align: top;
            padding: 0;
            text-align: left;
        }
        
        th {
            color: #999;
            font-size: 75%;
            padding: 0 10px;
            vertical-align: middle;
        }
        
        td {
            width: 100%;
            padding: 10px;
        }
        
        tr.selected {
            th, td {
                background-color: #eee;
            }
        }
 
    }
    
}