#tables {
    
    margin: 0 auto;    
    width: 1200px;
    
    table {
        
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 15px;
        width: 100%;

        td {
            padding-left: 8px;
            padding-right: 8px;
        }

        td:first-child {
            padding-left: 16px;
        }
            
        td:last-child {
            padding-right: 16px;
        }
        
        td.number,
        td.time {
            text-align: right;
        }
        
        td.link span {
            color: #000;
            cursor: pointer;
            border-bottom: 1px solid #000;
        }
        
        thead {
            
            td {
                color: #999;
                font-size: .75em;
                padding-bottom: 10px;
                vertical-align: top;
            }
            
            td.sortable {
                cursor: pointer;                
                
                span {
                    border-bottom: 1px dashed #999;
                }
            }
            
            td.sortable:hover {
                color: #ccc;

                span {
                    border-bottom-color: #ccc;
                }
            }
            
        }
        
        tbody {
            
            td {
                padding-top: .3em;
                padding-bottom: .3em;
            }
            
            tr.odd td {
                background-color: #eee;
            }
            
            td.chart {

                vertical-align: middle;
                width: 19px;
                
                div {
                    background-color: #eee;
                    background-image: image-url("icons/table_chart_icon.png");
                    border: 1px solid #fff;
                    border-radius: 2px;
                    cursor: pointer;
                    height: 17px;
                    width: 17px;
                }
                
                div.active {
                    cursor: default;
                }
                
            }
        
        }
        
    }
    
}