.table_container {
    
    padding: 0 20px;
    
    > h4 {
        margin-top: 4em;
        
        .columns_filter_trigger {
            cursor: pointer;
            font-size: 12px;
            font-weight: normal;
            float: right;
        
            span {
                border-bottom: 1px dashed #000;
            }
        }
        
    }
    
    > table.records {
        
        background-color: #fff;
        border-collapse: separate;
        border-spacing: 0;
        font-family: 'calibri', 'trebuchet ms', arial, sans-serif;
        font-size: 15px;
        position: relative;
        width: 100%;
        
        > thead,
        > tbody {
            
            > tr {
                
                > td {
                    padding-left: 8px;
                    padding-right: 8px;
                }
                
                > td.number,
                > td.date,
                > td.time {
                    text-align: right;
                }

            }
            
        }
        
        > thead {
            
            > tr > td,
            > td {
                color: #999;
                font-size: .75em;
				padding-top: .75em;
				padding-bottom: .75em;
                vertical-align: top;
                white-space: nowrap;
            }
            
            > td {
                cursor: move;
            }
            
            > td.number,
            > td.date,
            > td.time {
                text-align: right;
            }

            > tr {

                > td.sortable {
                
                    span {
                        cursor: pointer;                
                        border-bottom: 1px dashed #999;
                    }

                    span:hover {
                        color: #ccc;
                        border-bottom-color: #ccc;
                    }

                }
            
                > td.sortable::after {
                    margin-left: .5em;
                }
            
                > td.sortable.asc::after {
                    content: '\2191';
                }
            
                > td.sortable.desc::after {
                    content: '\2193';
                }
			
    			> td.ui-sortable-placeholder {
    				background-color: #efefef;
    			}

            }
            
        }
        
        
        > thead.sorting {
            > tr > td {

                > span {
                    color: #000 !important;
                    cursor: move;
                    border: none !important;
                }
                
            }

            > tr > td::after {
                display: none;
            }
        }
        
        
        > tbody {
            
            > tr.ticker {
                
                > td {

                    cursor: pointer;
                    padding-top: .3em;
                    padding-bottom: .3em;
                
                    em {
                        font-style: normal;
                    }
                
                    em.up {
                        color: #090;
                    }

                    em.down {
                        color: #c00;
                    }

                }
                
                > td.trend_by_self span {
                    color: #666;
                    font-weight: bold;
                }
            
                > td.trend_by_self.up span {
                    color: #090;
                }
            
                > td.trend_by_self.down span {
                    color: #c00;
                }
            
                > td.trend_by_other {
                    font-weight: bold;
                }
            
                > td.trend_by_other span::after {
                    content: '';
                    display: inline-block;
                    margin-left: .25em;
                    width: 10px;
                }
            
                > td.trend_by_other.up span::after {
                    content: '\2191';
                    color: #090;
                }
            
                > td.trend_by_other.down span::after {
                    content: '\2193';
                    color: #c00;
                }

            }
            
            > tr.ticker.odd > td {
                background-color: rgb(233, 234, 237);
            }
            
            
        }
        
        
    }
    
}


.table_container.denied > h4 {
    background: image_url('icons/time-icon.svg') no-repeat left center;
    background-size: 20px;
    padding-left: 25px;
}
