#tables {
    
    margin: 0 auto;    
    width: 1200px;
    
    table {
        
        border-collapse: collapse;
        border-spacing: 0;
        
        width: 100%;
        
        th,
        td {
            border: 1px solid #ccc;
            margin: 0;
            padding: .25em 5px;
        }
        
        thead td {
            color: #666;
            font-size: 75%;
            padding: .5em 5px;
        }
        
        thead td.sortable span {
            border-bottom: 1px dashed #99f;
            cursor: pointer;
        }
        
        thead td.sortable.asc span:after,
        thead td.sortable.desc span:after {
            margin-left: 10px;
        }

        thead td.sortable.asc span:after {
            content: '↓'
        }
        
        thead td.sortable.desc span:after {
            content: '↑'
        }
        
        tbody tr.row td {
            white-space: nowrap;
        }
        
        td.number,
        td.time {
            text-align: right;
        }
        
        td.time {
            color: #666;
            font-size: 75%;
        }
        
        tr.row {
            
            td.chart {
                color: #090;
                cursor: pointer;
                text-align: center;
                width: 20px;
            }

            td.remove {
                color: #f00;
                cursor: pointer;
                text-align: center;
                width: 20px;
            }
            
        }
        
        tr.filter {
            
            ul {
                color: #666;
                font-size: 75%;
                list-style: none;
                margin: 0;
                padding: 0;
                
                li {
                    background-color: #eee;
                    display: inline-block;
                    margin: 5px;
                    padding: .25em 5px;
                }
                
                li.visible {
                    color: #060;
                    background-color: #cfc;
                }
            }
            
        }
        
    }
    
}