div.tabs {
    
    border: 1px solid #ccc;
    margin: 1em 10px;
    padding: 1em 10px;
    
    > ul {
        
        font-size: 13px;
        list-style: none;
        margin: 0 0 1em;
        padding: 0;
        
        li {
            float: left;
            margin-left: 0;
            margin-right: 1em;
        }
        
        li.right {
            float: right;
            margin-left: 1em;
            margin-right: 0;
        }
        
        li.current {
            
            > a {
                border-bottom-style: solid;
                border-bottom-width: 2px;
                font-weight: bold;
            }

        }
        
    }
    
    > div.screen {
        border-top: 1px solid #ccc;
        height: 0;
        overflow: hidden;
        padding: 0;
    }
    
}

// tabs for records table

table.records tbody {
    
    
    > tr:not(.chart) {

        div.tabs > ul > li.add_to_chart {
            display: block;
        }

        div.tabs > ul > li.remove_from_chart {
            display: none;
        }
    }
    
    > tr.chart {
        
        div.tabs > ul > li.add_to_chart {
            display: none;
        }
        
        div.tabs > ul > li.remove_from_chart {
            display: block;
        }
    }
    
}